@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

/* Base styles */
:root {
   --backgroundColor: #222831;
   --sidebarColor: #313a46;
   --secondaryColor: #393e46;
   --blueColor: #00adb5;
   --lightColor: #eeeeee;
   --greenColor: #01965a;
   --redColor: #ef5132;
   --sidebarHoverColor: rgba(32, 35, 40, 0.3);
}

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   background-color: var(--backgroundColor);
   font-family: "Manrope", sans-serif;
   color: var(--lightColor);
}

svg {
   fill: var(--lightColor);
   width: 2rem;
   cursor: pointer;
}

button {
   background-color: transparent;
}

/* body */
.body-wrapper {
   display: flex;
}

/* add-task-btn */
.add-task-wrapper {
   position: absolute;
   bottom: 2rem;
   right: 2rem;
   display: flex;
   gap: 0.5rem;
   background-color: var(--blueColor);

   color: black;
   padding: 1rem;
   padding-left: 1.4rem;
   border-radius: 2rem;
   cursor: pointer;

   transition: all 0.2s ease-in-out;
}

.add-task-wrapper:hover {
   background-color: #00d7e2;
   transform: scale(1.05);
}

.add-task-btn {
   border: none;
}

.plus-circle-icon {
   height: 2.5rem;
   width: 2.5rem;
}

.plus-circle-icon > svg {
   fill: black;
   transform: translate(0.3rem, 0.1rem);
}

.add-task-text {
   font-size: 1.3rem;
   font-weight: bold;
}

/* sidebar */
.sidebar {
   width: 20vw;
   height: 100vh;

   padding: 1rem;

   background-color: var(--sidebarColor);
}

.sidebar-top {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 5vh;
}

.icon-div {
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 0.3rem;

   width: 2.5rem;
   height: 2.5rem;
}

.menu-icon {
   cursor: pointer;
}

.menu-icon:hover {
   background-color: var(--sidebarHoverColor);
}

.app-name {
   font-size: 1.5rem;
   font-weight: bold;
}

.sidebar-bottom {
   display: flex;
   flex-direction: column;
}

.sidebar-div {
   width: 100%;
   height: 5vh;

   display: flex;
   align-items: center;
   gap: 0.1rem;

   border-radius: 0.4rem;
   cursor: pointer;
   padding: 1rem;

   font-size: 1.1rem;
   margin-bottom: 0.2rem;
}

.sidebar-main {
   display: flex;
   flex-direction: column;

   margin-bottom: 5vh;
}

.sidebar-div:hover {
   background-color: var(--sidebarHoverColor);
}
.task-icon > svg,
.sun-icon > svg {
   width: 1.5rem;
   transform: translate(-0.5rem, 0.1rem);
}
/* sidebar proejcts */
.sidebar-header {
   display: flex;
   justify-content: space-between;
   align-items: center;

   margin-bottom: 0.5rem;
}

.projects-title {
   font-weight: bold;
   font-size: 1.3rem;
}

.add-project-btn {
   border: none;
}

.plus-icon {
   width: 2.5rem;
   height: 2.5rem;
}

.plus-icon > svg {
   fill: var(--blueColor);
}

.plus-icon:hover {
   background-color: var(--sidebarHoverColor);
}
