@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import "./task-button.css";
@import "./sidebar.css";
@import "./tasks.css";
@import "./task-dialog.css";
@import "./project-dialog.css";

/* Base styles */
:root {
    --backgroundColor: #222831;
    --sidebarColor: hsl(214, 18%, 23%);
    --secondaryColor: #747e8f;
    --blueColor: #008087;
    --lightColor: #eeeeee;
    --greenColor: #01985c;
    --redColor: #ef5132;
    --yellowColor: #e8c527;
    --sidebarHoverColor: rgba(32, 35, 40, 0.3);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--backgroundColor);
    font-family: "Manrope", sans-serif;
    color: var(--lightColor);
    overflow-x: hidden;
    overflow-y: scroll;
}

svg {
    fill: var(--lightColor);
    width: 2rem;
    cursor: pointer;
}

button {
    background-color: transparent;
}

/* body */
.body-wrapper {
    display: flex;
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.3rem;

    width: 2.5rem;
    height: 2.5rem;
}
