.sidebar {
    width: 20vw;
    height: 100vh;
    top: 0;
    position: sticky;
    overflow: hidden;

    padding: 2rem 1.2rem;

    background-color: var(--sidebarColor);

    display: flex;
    flex-direction: column;
    box-shadow: 0.5rem 0 1rem 0.5rem rgba(0, 0, 0, 0.15);
}

.sidebar-top {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5vh;
}

.sidebar-top--menu-icon {
    cursor: pointer;
}

.sidebar-top--menu-icon:hover {
    background-color: var(--sidebarHoverColor);
}

.sidebar-top--title {
    font-size: 1.5rem;
    font-weight: bold;
}

.sidebar-section-container {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.sidebar-page {
    display: flex;
    align-items: center;

    width: 100%;
    height: 5vh;

    border-radius: 0.4rem;
    cursor: pointer;
    padding: 1rem;

    font-size: 1.1rem;

    transition: all 0.2s ease-in-out;
}

.sidebar-page:hover,
.sidebar-page.active {
    background-color: var(--sidebarHoverColor);
}

.sidebar-tasks--page-label {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    transform: translate(-1rem, 0rem);
}

.sidebar-tasks-section--task-page-container {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.sidebar-tasks-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 5vh;
}

.sidebar-tasks-section--all-tasks-icon > svg,
.sidebar-tasks-section--today-sun-icon > svg,
.sidebar-tasks-section--completed-check-icon > svg {
    width: 1.5rem;
    aspect-ratio: 1;
    transform: translate(0.5rem, 0rem);
}

/* sidebar proejcts */
.sidebar-projects-section--header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
}

.sidebar-tasks-section--header {
    margin-bottom: 0.5rem;
}

.sidebar-section--header {
    font-weight: bold;
    font-size: 1.3rem;
}

.sidebar-projects-section--project-page-container {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}
.sidebar-projects-section--add-project-button {
    border: none;
}

.sidebar-projects-section--add-project-button-plus-icon {
    width: 2.5rem;
    height: 2.5rem;
    transition: all 0.2s ease-in-out;
}

.sidebar-projects-section--add-project-button-plus-icon > svg {
    fill: var(--lightColor);
}

.sidebar-projects-section--add-project-button-plus-icon:hover {
    background-color: var(--sidebarHoverColor);
}

.sidebar-projects-section--project-page {
    display: flex;
    justify-content: space-between;
    align-items: center;

    transition: all 0.2s ease-in-out;
}

.project-delete-icon-container > svg {
    width: 1.5rem;
    height: 1.5rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.project-delete-icon-container {
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
}

.sidebar-projects-section--project-page:hover .project-delete-icon-container {
    opacity: 1;
}

.sidebar-tasks-section--all-tasks-page.active,
.sidebar-tasks-section--today-page.active,
.sidebar-tasks-section--completed-page.active,
.sidebar-projects-section--project-page.active {
    background-color: var(--sidebarHoverColor);
}
