.add-task-button-container {
    width: 100%;
    margin-top: auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

.add-task-button {
    background-color: var(--blueColor);

    color: var(--lightColor);
    padding: 1rem;
    padding-left: 1.5rem;
    border: none;
    border-radius: 1rem;
    cursor: pointer;

    transition: all 0.2s ease-in-out;

    display: flex;
    gap: 0.5rem;
    justify-content: space-between;
    align-items: center;
}

.add-task-button:hover {
    background-color: #008990;
    transform: scale(1.03);
}

.add-task-button--plus-icon {
    height: 2.5rem;
    width: 2.5rem;
}

.add-task-button--plus-icon > svg {
    fill: var(--lightColor);
    transform: translate(0rem -0.4rem);
}

.add-task-button--text {
    font-size: 1.3rem;
    font-weight: bold;
}
