.task-view-container {
    margin-left: 20vw;
    width: 80vw;
    padding: 4vw;
    height: 200vh;
}

.task-view-title {
    text-align: left;
    width: 80vw;

    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.task-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.task {
    display: flex;
    align-items: flex-start;
    gap: 0.8rem;
}

.checkbox {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 1.4rem;
    aspect-ratio: 1;
    border: 1px solid var(--secondaryColor);
    transform: translate(0, 0.1rem);
    border-radius: 100%;

    flex-shrink: 0;

    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
}

.checkbox > svg {
    width: 1rem;
    opacity: 0;
}

.checkbox--checked {
    background-color: var(--greenColor);
}

.checkbox--checked > svg {
    opacity: 1;
}

.task-content {
    display: flex;
    flex-direction: column;
}

.task-title {
    font-size: 1.2rem;
    font-weight: bold;
}

.task-description {
    font-size: 1rem;
    color: var(--secondaryColor);
}
